.recipe {
    display: flex;
    padding: 20px;
    .image {
        width: 150px;
        height: 150px;
        margin-right: 10px;
        overflow: hidden;
        img {
            width: 100%;
        }
    }
    .content{
        display: flex;
        flex-direction: column;
        .title {
            font-size: 18px;
            font-weight: bold;
            color: #3f3d56;
            letter-spacing: 1px;
            margin-bottom: 10px;
        }
        .author {
            color: #808080;
            margin-bottom: 15px;
        }
        .likeComment {
            display: flex;
            margin-top: auto;
            .text {
                margin-left: 5px;
            }
        }
        .likeComment > div {
            margin-right: 20px;
        }
        small {
            border: 1px solid #85bf3e;
            border-radius: 30px;
            color: #85bf3e;
            padding: 5px;
            margin-right: 5px;
        }
    }
}