.header {
  border-bottom: 1px solid #e4e6e9;
  font-size: 18px;
  font-weight: bold;
  color: #3f3d56;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  .top {
    border-bottom: 1px solid #e4e6e9;
    display: flex;
    height: 65px;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: #ffffff;
    z-index: 1000;
    .left {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 50%;
      .logo {
        margin-right: 40px;
        padding: 10px;
        img {
          width: auto;
          max-height: 45px;
          display: inline-block;
        }
        a {
          vertical-align: middle;
        }
      }
      .explore {
        cursor: pointer;
        line-height: 65px;
      }
      .explore:hover {
        .bottom {
          display: block;
        }
      }
    }
    .right {
      display: flex;
      align-items: center;
      .member {
        display: flex;
        align-items: center;
        .log {
          padding: 0 10px;
          transition: all 0.2s;
          &:hover {
            color: #85bf3e;
          }
        }
      }

      .profile {
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;
        img {
          width: 40px;
          clip-path: circle(50%);
          margin-right: 5px;
        }
        .dropdown {
          display: none;
          background-color: #fff;
          position: absolute;
          top: 35px;
          right: 0px;
          width: 180px;
          text-align: center;
          -webkit-box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.15);
          -moz-box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.15);
          z-index: 100;
          border-radius: 5px;
          .dropdownLink {
            padding: 20px;
          }
          .dropdownLink:hover {
            background-color: #f0f0f0;
          }
          .dropdownLink:last-child {
            border-top: 1px solid #e4e6e9;
          }
        }
      }
      .profile:hover {
        .dropdown {
          display: block;
        }
      }
    }
    .burger {
      display: none;
    }
  }
  .bottom {
    padding: 22px;
    position: absolute;
    top: -10px;
    left: 0;
    transition: all 0.5s;
    background-color: #ffffff;
    width: 100%;
    z-index: 100;
    border-bottom: 1px solid #e4e6e9;

    .menu {
      margin-left: 80px;
      display: flex;
      justify-content: space-around;
      width: 600px;
    }
    .link {
      position: relative;
      transition: all 0.2s;
    }
    .link::after {
      content: "";
      border-bottom: 4px solid #85bf3e;
      width: 0;
      display: block;
      position: absolute;
      bottom: -22px;
      transition: all 0.2s;
    }
    .link a:hover {
      color: #85bf3e;
    }
    .link:hover::after {
      content: "";
      border-bottom: 4px solid #85bf3e;
      width: 100%;
      display: block;
      position: absolute;
      bottom: -22px;
    }
    .activeMenu {
      color: #85bf3e;
      position: relative;
    }
    .activeMenu::after {
      content: "";
      border-bottom: 4px solid #85bf3e;
      width: 100%;
      display: block;
      position: absolute;
      bottom: -22px;
    }
  }
  .bottom:hover {
    display: block;
    top: 65px;
  }
  .fullBtn {
    border: none;
    background-color: #85bf3e;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #85bf3e;
    outline: none;
    cursor: pointer;
    margin-right: 30px;
    font-size: 18px;
    transition: all 0.2s;

    &:hover {
      background-color: #72a534;
    }
  }
  .lineBtn {
    border: none;
    background-color: #ffffff;
    border: 1px solid #85bf3e;
    color: #85bf3e;
    padding: 5px 10px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    margin-right: 10px;
    font-size: 18px;
    transition: all 0.2s;

    &:hover {
      color: #72a534;
      border: 1px solid #72a534;
    }
  }
  .container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 2000;
    display: flex;
    background-color: rgba(0, 0, 0, 0.253);
    .mask {
      flex: auto;
    }
    .sidenavContainer {
      width: 250px;
      background-color: #fff;
      -webkit-animation: slide-in-right 0.5s
        cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
      animation: slide-in-right 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
      .profile {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #e4e6e9;
        img {
          width: 50px;
          clip-path: circle(50%);
          margin: 10px;
        }
      }
      .link {
        font-weight: normal;
        letter-spacing: 1px;
        padding: 20px;
        border-bottom: 1px solid #e4e6e9;
      }
      .logout {
        font-weight: normal;
        text-align: center;
        background-color: #e4e6e9;
        letter-spacing: 1px;
        padding: 20px;
        cursor: pointer;
      }
    }
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@media (max-width: 700px) {
  .header {
    position: relative;
    .top {
      .left {
        .logo {
          position: absolute;
          top: 0;
          left: 10px;
        }
        .explore {
          display: none;
        }
      }
      .right {
        display: none;
      }
      .burger {
        display: block;
        cursor: pointer;
      }
    }
    .bottom {
      top: 65px;
      overflow-x: scroll;
      padding: 15px;
      .menu {
        margin-left: 0;
        width: 450px;
        font-size: 16px;
      }
      .activeMenu::after {
        content: none;
      }
      .link:hover::after {
        content: none;
      }
    }
    .bottom::after {
      content: none;
    }
  }
}
