.container {
    background-color: #ffffff;
    // margin-top: -100px;
    padding-bottom: 100px;
    .cover {
        margin-left: auto;
        margin-right: auto;
        background-color: #fcf5ea;
        padding: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("../../images/cover-bg.png");
        background-repeat: no-repeat;
        background-position: left;
        background-size: contain;
        .cta {
            width: 30%;
            .slogan {
                font-size: 40px;
                font-weight: bold;
                text-shadow: 3px 3px 0px #fec740;

            }
           
           
            .intro {
                font-size: 20px;
                margin: 20px 0;
                letter-spacing: 1px;
                line-height: 1.5em;
            }
            .ctaBtn {
                border: none;
                background-color: #85bf3e;
                color: #ffffff;
                padding: 10px 15px;
                border-radius: 5px;
                outline: none;
                cursor: pointer;
                font-size: 18px;
                transition: all .2s;
                &:hover {
                    background-color: #72a534;
                }
            }
        }
        img {
            width: 40%;
            margin-top: 60px;
            margin-right: -100px;
            margin-left: 80px;
        }
    }
    .main {
        margin-top: 40px;
        mark {
            display: inline-block;
            line-height: 0em;
            padding-bottom: 0.8em;
            background-color: #fec740;
        }
        .latest{
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            .title {
                font-size: 24px;
                font-weight: bold;
                // margin-bottom: 20px;
            }
            .newRecipes {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }
        }
        a {
            // width: 25%;
            display: block;
            height: 100%;
        }
        .recipe {
            width: 23%;
            // margin-right: 20px;
            margin-top: 20px;
            border: 1px solid #e4e6e9;
            display: flex;
            flex-direction: column;
            .image {
                height: 250px;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .body {
                padding: 10px;
                display: flex;
                flex-direction: column;
                height: auto;
                .name {
                    font-size: 20px;
                    font-weight: bold;
                    margin: 10px 0;
                    word-break: break-all;
                }
                .author {
                    color: #808080;
                    margin-bottom: 20px;
                }
                .tag {
                    margin-top: auto;
                    margin-bottom: 10px;
                    small {
                        border: 1px solid #85bf3e;
                        border-radius: 30px;
                        color: #85bf3e;
                        padding: 5px;
                        margin-right: 5px;
                    }
                }
            }
            
        }
    }
}


@media (max-width: 1000px) {
    .container {
        .main {
            .latest {
                width: 95%;
                .newRecipes {
                    .recipe {
                        width: 23%;
                    }
                }
            }
        }
    }
} 

@media (max-width: 900px) {
    .container {
        .cover {
            // background-size: 50%;
            .cta {
                margin-right: 30px;
            }
            img {
                margin-top: 0;
                margin-left: 0;
                width: 50%;
            }
        }
        .main {
            .latest {
                width: 90%;
                .newRecipes {
                    .recipe {
                        width: 48%;
                        .image {
                            height: 180px;
                        }
                    }
                }
            }
        }
    }
} 
@media (max-width: 600px) {
    .container {
        .cover {
            display: block;
            background-image: none;
            .cta {
                width: 70%;
                margin-right: auto;
                margin-left: auto;
            }
            img {
                width: 100%;
                margin: 20px 0;
            }
        }
    }
} 


@media (max-width: 420px) {
    .container {
        .cover {
            background-image: none;
            .cta {
                width: 100%;
            }
            img {
                width: 100%;
                margin: 20px 0;
            }
        }
        .main {
            .latest {
                width: 90%;
                .newRecipes {
                    .recipe {
                        width: 100%;
                        .image {
                            height: 150px;
                        }
                    }
                }
            }
        }
    }
} 

