.recipeList {
  background-color: #ffffff;
  border: 1px solid #e4e6e9;
  flex: auto;
}

.noRecipeList {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  width: 100%; //
  padding: 20px;
  .noRecipeImage {
    width: 25%;
    margin-right: 30px;
    img {
      width: 100%;
    }
  }
  .text {
    width: 50%;
    font-size: 18px;
    .title {
      font-weight: bold;
      font-size: 1.2em;
      margin-bottom: 10px;
    }
    .description {
      color: #808080;
      font-size: 1em;
      margin-bottom: 10px;
      line-height: 1.5em;
    }
    .fullBtn {
      border: none;
      background-color: #85bf3e;
      color: #ffffff;
      padding: 5px 10px;
      border-radius: 5px;
      border: 1px solid #85bf3e;
      outline: none;
      cursor: pointer;
      margin-right: 30px;
      transition: all 0.2s;
      font-size: 16px;

      &:hover {
        background-color: #72a534;
      }
    }
  }
}
