$white-color: #ffffff;
$green-color: #85bf3e;
$dark-green-color: #72a534;
$yellow-color: #fec740;
$light-yello-color: #fcf5ea;
$default-text-color: #3f3d56;
$grey-text-color: #808080;
$border-color: #e4e6e9;
