@import "../../common";
.footer {
  height: 100px;
  background-color: $border-color;
  border-top: 1px solid $border-color;
  margin-top: 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #8a949f;
  .footerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

@media (max-width: 400px) {
  .footer {
    font-size: 14px;
  }
}

@media (max-width: 350px) {
  .footer {
    font-size: 12px;
  }
}
